{% extends 'base.html.twig' %}

{% block title %}Hello GestionCharactersController!{% endblock %}
{% block head %}
<link rel="stylesheet" href="/css/gestionCharactersStyle.css">
{% endblock %}
{% block stylesheets %}


{% endblock %}
{% block body %}

{% if characters|length %}
<h1>Choissisez un personnage </h1>
<div id="ChoixPersonnage" class="">

{% for character in characters %}
<div class="grid-container" id="slotPersonnage">
    <div class="grid-item" id="nomPerso">
        <a id="name">{{character.getFullName()}} </a>
    </div>
    <div class="grid-item"id="buttonPersonnageShow">
        <a id="show" href={{"/gestion/characters/"~character.getId()}}>Show</a>
    </div>
    <div class="grid-item"id="buttonPersonnageChoose">
        <a id="choose" href={{"/gestion/characters/"~character.getId()}}>Choose</a>
    </div>
</div>
{% endfor %}
</div>
{% else %}
<h1>Veuillez créer un personnage</h1>
{% endif %}
<h3>Veux-tu créer un personnage</h3>
<a class ="btn" href ="/creation/characters">Création de personnage</a>

<h1></h1>
{% endblock %}
