{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}

{% block head %}
  


{% endblock head %}

{% block body %}

<nav class="menu">
  <ul>
    <li><a href="/">Accueil</a></li>
    <li><a href="/gestion/characters">Gestion Personnage</a></li>
  </ul>
</nav>
{% endblock %}


