{% extends 'base.html.twig' %}

{% block title %}Hello CreationGroupController!{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/css/creationGroupStyle.css">

{% endblock %}
{% block body %}
<div class="">

</div>

<div class="form">
    <form action="/creation/group/request">
        <input type="text" placeholder="Nom du groupe">
    </form>
</div>



{% endblock %}
