.div {
    padding: 8% 35% 0;
}
.div2 {
    padding-left:5%;
    padding-right:5%;
    padding-top:2%;
    padding-bottom:2%;
   
    border-style:solid;
    border-color:#dadce0;
    border-radius: 25px;
    
}

.title {
    text-align: center;
}


.input input {
    margin-bottom: 10px;
    height: 40px;
    width: 100%;
    
}