h1{margin-left:50px}#race{margin-bottom:10px}h1{opacity:0}h1.active{opacity:1;transition:opacity 1.5s ease-in-out}select{width:10%;text-align:center}.data select{margin:10px}input[type="text"]{height:20px}
