{% extends 'base.html.twig' %}

{% block title %}Hello CreationCharactersController!{% endblock %}
{% block stylesheets %}
#race{
    margin-bottom:10px;
}
{% endblock %}
{% block javascripts %}
<script src="/js/creationCharacters.js"></script>

<!-- {firstname:firstname,lastname:lastname,age:age,Description:Description,userId:userId,raceId:raceId} -->
{% endblock %}
{% block body %}
<h1>Bienvenue dans la création de personnage</h1>
<div id="form" action="/creation/characters/requete">
    <label for="lastname">Ici le nom de votre personnage</label>
    <input required id="lastname" type="text" name="LNData" placeholder="Nom du personnage">
    <br>
    <label for="firstname">Veuillez ensuite entré le prénom de votre personnage</label>
    <input required type="text" name="FNData" id="firstname" placeholder="Prénom du personnage">
    <br>
    <label for="age">Qu'elle age a ton personnage?</label>
    <input required type="number" name="ageData" id="age" placeholder="Âge" min="0" max="1000">
    <br>
    <h6>Entré une description de votre personnage</h6>
    <textarea required name="DescriptionData" id="Description" cols="100" rows="10"></textarea>
    <br>
    <select name="raceData" id="raceId">
    {% for Race in RepoRace %}
        <option value={{Race.id}}>{{Race.Name}}</option>
        <!-- Création de la liste déroulante -->
        
        <!---->
    {% endfor %}
    </select>
    </br>
    <input id="userId" name="userIdData" type="hidden" value="{{app.user.id}}">
    <button id="formSubmit" class="btn">Création du personnage</button>
</div>

<div id="resultat" hidden>
    <h1>Voici le récapitulatif de la création de personnage</h1>

</div>

{% endblock %}
