<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://use.fontawesome.com/6236914045.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script>
        </script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href='/css/accueilStyle.css'  type="text/css">
        <style>
            
            body{
                margin: 0;
            }
        </style>
        {% block head %}
        {% endblock %}
    </head>
    <body>

    {# <div id="navbar" class="row">
        <nav class="navbar col-10 ">
            <ul class="col-3">
                <a href="/" class="nav-link ">
                <i class="fa fa-home" aria-hidden="true"></i>
                Page d'acceuil
                </a>
            </ul>
            <ul class="col-3">
                <a href="/gestion/characters">Gestion Personnage</a>
            </ul>
            <ul class="col-6">
            </ul>
            
        </nav>
        <div class="col-2" style="margin-top:0.5rem">
        {% if app.user %}

            <a href="/logout">
        {% else %}
            <a href="/login">
        {% endif %}

            <i class="fa fa-user-circle fa-3x"></i>
            </a>

            
            <a style="margin-bottom:0.25rem">{{app.user?app.user.getEmail() : 'Not logged'}} </a>
            
        </div>
    </div> #}
    <div class="navbar">
        <div class="grid-container">
            <div class="grid-item">
                <a href="/">Acceuil</a>    
            </div>
            <div class="grid-item">
                <a href="/gestion/characters">Gestion personnage</a>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item">
                {% if app.user %}

                    <a href="/logout">{{ app.user.getUsername()}}</a>
                {% else %}
                    <a href="/login">Login pls</a>
                {% endif %}
            </div>


        </div>
    </div>
        <main>
            {% block body %}
                <p>There is no body block on your page<p>
            {% endblock %}
            
            {% block javascripts %}
            {% endblock %}
            
        </main>
    </body>
</html>
